{% extends "shop/base-4.1.1.html" %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary ">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">Shop show</a>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'shop:product_list' %}">
                            <span class="fa fa-home fa-lg"></span>
                            主页
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'cart:cart_detail' %}">
                            <span class="fa fa-shopping-cart fa-lg"></span>
                            购物车
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="jumbotron" style="padding: 0;">
        <div class="container">
            <div class="row justify-content-end">
                <div style="margin: 10px">
                    {% with total_items=cart|length %}
                        {% if cart|length > 0 %}
                            Your cart:
                            <a href="{% url 'cart:cart_detail' %}">
                                {{ total_items }} item{{ total_items|pluralize }},
                                ${{ cart.get_total_price }}
                            </a>
                        {% else %}
                            Your cart is empty.
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4 " >
                <img src="{{ product.image.url }}" width="100%">
            </div>
            <div class="col-12 col-sm-8">
                <h1>{{ product.name }}</h1>
                <h2>
                    <a href="{{ product.category.get_absolute_url }}">
                        {{ product.category }}
                    </a>
                </h2>
                <p class="price">${{ product.price }}</p>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input class="btn btn-primary mb-2 btn-sm" type="submit" value="添加到购物车">
                </form>
                {{ product.description|linebreaks }}
            </div>
        </div>
    </div>
{% endblock %}