{% extends "shop/base-4.1.1.html" %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary ">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">Shop show</a>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'shop:product_list' %}">
                            <span class="fa fa-home fa-lg"></span>
                            主页
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cart:cart_detail' %}">
                            <span class="fa fa-shopping-cart fa-lg"></span>
                            购物车
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <header class="jumbotron" style="padding: 0;">
        <div class="container">
            <div class="row justify-content-end">
                <div style="margin: 10px">
                    {% with total_items=cart|length %}
                        {% if cart|length > 0 %}
                            <i class="fa fa-shopping-cart fa-lg"></i> :
                            <a href="{% url 'cart:cart_detail' %}">
                                {{ total_items }} item{{ total_items|pluralize }},
                                ${{ cart.get_total_price }}
                            </a>
                        {% else %}
                            Your cart is empty.
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row row-content ">
            <div class="col-12 col-sm-2 ">
                <h3>商品类别</h3>
                <ul id="sidermenu" class="nav flex-column">
                  <li {% if not category %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
                    <a class="nav-link " href="{% url 'shop:product_list' %}">所有</a>
                  </li>
                {% for c in categories %}
                  <li {% if category.slug == c.slug %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
                    <a class="nav-link" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                  </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-12 col-sm ">
                <h2>{% if category %}{{ category.name }}{% else %}全部商品{% endif %}</h2>
                <div class="row">
                    {% for product in products.object_list %}
                        <div class="col-12 col-sm-3">
                            <div class="item" style="text-align:center;">
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{{ product.image.url }} " style='width:100%'>
                                </a>
                                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                                ${{ product.price }}
                            </div>

                        </div>
                    {% endfor %}

                </div>
                <!-- 分页组件 -->
                <nav class="row mt-3 justify-content-center" aria-label="Page navigation example">
                  <ul class="pagination">
                      {% if products.has_previous %}
                        <li class="page-item"><a class="page-link" href="?{{ products.previous_page_number.querystring }}">上一页</a></li>
                      {% endif %}

                      {% for page in products.pages %}
                          {% if page %}
                              {% ifequal page products.number %}
                                  <li class="page-item active"><a class="page-link" href="?{{ page.querystring }}">{{ page }}</a></li>
                              {% else %}
                                  <li class="page-item"><a class="page-link" href="?{{ page.querystring }}">{{ page }}</a></li>
                              {% endifequal %}
                          {% else %}
                              <li class="none"><a href="">...</a> </li>
                          {% endif %}
                      {% endfor %}

                      {% if products.has_next %}
                          <li class="page-item"><a class="page-link" href="?{{ page_obj.next_page_number.querystring }}">下一页</a></li>
                      {% endif %}
                  </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}